html{height: 100%;}
body
{	font-size: 20px;
	margin:0;
	background-image: url("img/4.png");
	padding-bottom:50px;
	
	min-height: 95.4%;
	
	font-family: 'Roboto Slab', serif;

	/* Background pattern from Subtle Patterns */
}

#wraphold
{
	position: relative;
	min-height: 100%;
	
	
}

.header
{	
	
	width: 100%;
	height: 70px;
	background-color:#034f84;
	/* rgb(97,56,98) */
}

ul{margin:0px;
padding:0px;}

#logo
{
	display:block; 
	width:70px;
	height:70px;
	
	
	background-size:70px;
	border-radius:40px;
	background-image: url("img/lo.jpg");
	
	color: white;
	
	text-align: center;
}

#biglogo
{
	color: white;
	font-size: 65px;
	text-align: center;
}

#flex1
{
	display: inline-flex;
	justify-content:flex-start;
	
}
#flex2
{	position:absolute;
	right:0px;
	display: inline-flex;
	justify-content:flex-end;
}
.flexin1
{
	
}
.flexin2
{
	
}
.flexin3
{
	
}

.footer
{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #034f84;
	text-align: center;
}

input
{
	
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 20px;
	background-color: #efefef;
	color: #666;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

input[type=button], input[type=submit]
{
	background-color: #034f84;
	color: white;
	width:100px;
	
}

table{
	width: 100%;
}

.some
{
	display: inline-block;
	
}

#right
{
	background-color:  white;
	padding:30px;
	border-radius: 15px;
}

#left
{
	background-color: white;
	padding:30px;
	border-radius: 15px;
}

.fa
{
	text-align:center;
	margin: 0px 0px 30px  0px;
}


#holder
{
	
	margin:auto;
	
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

nav{
	
	background-color: #034f84; 
	height: 70px;
}

li{
	list-style-type: none;
	
	float:left;
	
}
li > input
{
	width:70px;
	height:70px;
}

	
#Logout
{
	
	/*position: absolute;
	right:15px;
	top: 5px;*/
	background-image: url("img/pf1.png");
	border-radius: 50px;
	background-size: 50px 50px;
	background-position: 4.7px 4px ;
	background-repeat: no-repeat;
	width:60px;
	height:60px;
 
}
#react
{
	color: white;
}



#holder > div:first-child 
{
	margin-right: 20px;
}

#profile-container span:not([class])
{
	color:red;
} 


.centered{
position: static;
margin-top: 20px; 
margin-bottom: 20px; 
margin-left: auto;
margin-right: auto;
background-color: rgb(245,245,245);
max-width: 600px;
padding: 40px;
border-radius: 15px;
padding-bottom:40px;

}



.section{border:2px solid #2d3333;
	color: black;
background-color: rgb(233,233,233);
/* Background pattern from Subtle Patterns */
border-radius: 20px;
margin-bottom: 16px;
padding: 15px;


}



#searchResults-container{
	position:absolute;
	/**top:50px;*/
	min-width: 160px;
	min-height:0px;
	background:white;
	color:black;
}

#searchInput{
	margin:10px;
	width:100px;
	padding-left: 40px;
	background-color: white;
    background-image: url('img/sera.png');
	background-size: 35px 35px;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

#searchBtn
{
	position:static;
	display:none;
	width: 100px;
	
	
	
}


#searchInput:focus
{ 
width: 500px;
}

#searchResults-container a{
display:block;
	padding:8px;
	width:100px;
	height:100px;
}
#search-container{
	
	
}

.objectInArray{
	background: rgb(207, 207, 207);
	padding:12px;
	margin:12px;
	border:solid 1px rgb(92, 92, 92);
	border-radius:5px;
}

.objectInArray .line{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: flex-start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.objectInArray .line .key{
	display:inline-block;
	text-align: left;
	margin-right:15px;
	color : black;
}
.objectInArray .line .value{
	display:inline-block;
	text-align: left;
	color: rgb(37, 96, 33);
 }