html{height: 100%;}
body
{	position: relative;
	font-size: 20px;
	margin:0;
	background-image: url("img/4.png");
	
	min-height: 100%;
	font-family: 'Roboto Slab', serif;
	/* Background pattern from Subtle Patterns */
}

.shortAF
{
	height:100%;
}

#back
{
	background-image: url("img/back.png");
	background-size: 50px ;
	width: 50px;
	height: 50px;
	background-color: #034f84; 
	border-radius: 40px;
	border: solid 1px black;
	margin: solid 1px black;
}

#list
{
	background-image: url("img/list.png");
	background-size: 70px;
	width:70px;
	height:70px;
	
}

#list:hover
{
	border: 1px solid white;
}

#profile
{
	
	background-image: url("img/prof.png");
	background-size: 70px;
	width:70px;
	height:70px;
}

#back:hover
{
	border: 1px solid white;
}

#edit:hover
{ 
	border: 1px solid white;
}

#wrapholder
{
	position: relative;
	height: 100%;
}

.header
{	
	
	width: 100%;
	height: 70px;
	background-color:#034f84;
	/* rgb(97,56,98) */
}

ul{margin:0px;
padding:0px;}

#edit
{
	background-image: url("img/edit.png");
	background-size: 50px ;
	width: 50px;
	height: 50px;
	background-color: #034f84; 
	border-radius: 40px;
	border: solid 1px black;
	margin: solid 1px black;
}

#logo
{
	display:block; 
	width:70px;
	height:70px;
	
	
	background-size:70px;
	border-radius:40px;
	background-image: url("img/lo.jpg");
	
	color: white;
	
	text-align: center;
}

#biglogo
{
	color: white;
	font-size: 65px;
	text-align: center;
}

 #flexLog
 { display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

.flex-i1 {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }

	.flex-i2{
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    }
	
#flex1
{
	display: inline-flex;
	justify-content:flex-start;
	
}
#flex2
{	position:absolute;
	right:0;
	display: inline-flex;
	justify-content:flex-end;
}
.flexin1
{
	
}
.flexin2
{
	
}
.flexin3
{
	
}

.footer
{
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #034f84;
	text-align: center;
    z-index: -2;
}

input
{
	
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 20px;
	background-color: #efefef;
	color: #666;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

input[type=button], input[type=submit]
{
	background-color: #034f84;
	color: white;
	padding: 15px;
	
}

table{
	width: 100%;
}

.some
{
	display: inline-block;
    margin-bottom:12px;
}

#right
{
	background-color:  white;
	padding:30px;
	border-radius: 15px;
}

#left
{
	background-color: white;
	padding:30px;
	border-radius: 15px;
}

.fa
{
	text-align:center;
	margin: 0px 0px 30px  0px;
}


#holder
{
	
	margin:auto;
	
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}


nav{
	
	background-color: #034f84; 
	height: 70px;
}

li{
	list-style-type: none;
	
	float:left;
	
}
li > input
{
	width:70px;
	height:70px;
}

	
#Logout
{
	
	/*position: absolute;
	right:15px;
	top: 5px;*/
	background-image: url("img/pf1.png");
	border-radius: 50px;
	background-size: 50px 50px;
	background-position: 4.7px 4px ;
	background-repeat: no-repeat;
	width:60px;
	height:60px;
 
}

.header
{	
	
	width: 100%;
	height: 70px;
	background-color:#034f84;
}

#logo
{
	
	color: white;
	font-size: 65px;
	text-align: center;
}

.footer
{
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	background-color: #034f84;
	text-align: center;
}

input
{
	
	border: 1px solid #999;
	border-radius: 5px;
	font-size: 20px;
	background-color: #efefef;
	color: #666;
	padding: 10px;
	font-family: 'Roboto Slab', serif;
	box-sizing: border-box;
}

input[type=button], input[type=submit]
{
	background-color: #034f84;
	color: white;
}

table{
	width: 100%;
}

.some
{
	display: inline-block;
	
}

#right
{
	background-color:  white;
	padding:30px;
	border-radius: 15px;
}

#left
{
	background-color: white;
	padding:30px;
	border-radius: 15px;
}

.fa
{
	text-align:center;
	margin: 0px 0px 30px  0px;
}


#holder
{
	
	margin:auto;
	
	display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

#holder > div:first-child 
{
	margin-right: 20px;
}

#profile-container span:not([class])
{
	color:red;
} 

#users-container span:not([class])
{
	color:red;
} 


.centered{
position: static;
margin-top: 20px; 

margin-left: auto;
margin-right: auto;
background-color: rgb(245,245,245);
max-width: 600px;
padding: 40px;
border-radius: 15px;
padding-bottom:40px;

}



.section {
	border: 2px solid #2d3333;
	color: black;
	background-color: rgb(233, 233, 233);
	/* Background pattern from Subtle Patterns */
	border-radius: 20px;
	margin-bottom: 16px;
	padding: 15px;
}

#searchInput:focus
{
width: 500px;
}

#search-container{
	position:relative;
	display:inline-block;
}

.objectInArray{
	background: rgb(207, 207, 207);
	padding:12px;
	margin:12px;
	border:solid 1px rgb(92, 92, 92);
	border-radius:5px;
	position:relative;
}

.objectInArray .line{
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
	-webkit-align-items: flex-start;
	-ms-flex-align: start;
	align-items: flex-start;
}
.objectInArray .line .key{
	display:inline-block;
	text-align: left;
	margin-right:15px;
	color : black;
}
.objectInArray .line .value{
	display:inline-block;
	text-align: left;
	color: rgb(37, 96, 33);
 }
.objectInArray .delete{
	 position:absolute;
	 right:10px;
	 top:10px;
	 color:#034f84;
	cursor:pointer;
	-webkit-transition: 0.1s;
	-moz-transition: 0.1s;
	-ms-transition: 0.1s;
	-o-transition: 0.1s;
	transition: 0.1s;
 }
.objectInArray .delete:hover{
	position:absolute;
	transform: scale(1.3);
}
#react
{
	color: white;
}

#searchResults-container{
	position:absolute;
	/**top:50px;*/
	min-width: 400px;
	min-height:0px;
	background:white;
	color:black;
	left:10px;
	top:57px;
}

#searchInput{
	margin:10px;
	width:100px;
	padding-left: 40px;
	background-color: white;
    background-image: url('img/sera.png');
	background-size: 35px 35px;
    background-position: 5px 5px; 
    background-repeat: no-repeat;
    padding-left: 50px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
#searchBtn
{
	position:static;
	display:none;
	width: 100px;
}
#searchResults-container a{
display:block;
	padding:8px;
	width:100px;
	height:100px;
}
